name: CI-CD Pipeline

on: push

jobs:
  project-testing:
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v4

    - name: setup python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'
    
    - name: install dependencies
      run: |
        pip install -r requirements.txt
    
    - name: dvc pull
      env:
        DAGSHUB_S3_KEY_ID: ${{ secrets.DAGSHUB_S3_KEY_ID }}
        DAGSHUB_S3_SEC_ACCESS: ${{ secrets.DAGSHUB_S3_SEC_ACCESS }}
      run: |
        dvc pull
        